==========================================
==========================================
==========================================
        The MAZE FILE FORMAT
==========================================
==========================================
==========================================

THE INPUT IS A MAZE DESCRIPTION FILE IN PLAIN TEXT

 1 - DENOTES WALLS
 0 - TRAVERSABLE PASSAGE WAY

INPUT {THREE KEY CONFIGURATIONS} :

1 - START_X STAR_Y
2 - GOAL_X  GOAL_Y
3 - AN N X N MATRIX OF 1/0 REPRESENTING THE MAZE

EXAMPLE INPUT:
10 10                   <--- ROWS COLS
1 1                     <--- START_X START_1
8 8                     <--- GOAL_X GOAL_Y
1 1 1 1 1 1 1 1 1 1     <--- MATRIX REPRESENTING THE MAZE
1 0 0 0 0 0 0 0 0 1
1 0 1 0 1 1 1 1 1 1
1 0 1 0 0 0 0 0 0 1
1 0 1 1 0 1 0 1 1 1
1 0 1 0 0 1 0 1 0 1
1 0 1 0 0 0 0 0 0 1
1 0 1 1 1 0 1 1 1 1
1 0 1 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1


OUTPUT:
 THE MAZE WITH A PATH FROM START TO END
 WALLS MARKED BY '#', PATHS MARKED BY 'X', START/END MARKED BY 'S'/'E'

EXAMPLE FILE:
10 10
1 1
8 8
1 1 1 1 1 1 1 1 1 1
1 0 0 0 0 0 0 0 0 1
1 0 1 0 1 1 1 1 1 1
1 0 1 0 0 0 0 0 0 1
1 0 1 1 0 1 0 1 1 1
1 0 1 0 0 1 0 1 0 1
1 0 1 0 0 0 0 0 0 1
1 0 1 1 1 0 1 1 1 1
1 0 1 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1

OUTPUT:
1 1 1 1 1 1 1 1 1 1
1 S X X X X X X X 1
1 X 1 X 1 1 1 1 1 1
1 X 1 X X X X X X 1
1 X 1 1 X 1 X 1 1 1
1 X 1 X X 1 X 1 X 1
1 X 1 X X X X X X 1
1 X 1 1 1 X 1 1 1 1
1 X 1 X X X X X E 1
1 1 1 1 1 1 1 1 1 1
_DONE_


EMPAHSIS IS ON THE ALGORITHMS HOWEVER EXTRA POINTS FOR BEAUTIFICATION

FOR EVEN BETTER OUTPUT YOU COULD REPLACE ALL NON VALID PATHS WITH ' ' AND
REPRESENT THE ONLY WITH 'X '

# # # # # # # # # #
# S X X           #
#   # X # # # # # #
#   # X X         #
#   # # X #   # # #
#   #   X #   #   #
#   #   X X       #
#   # # # X # # # #
#   #     X X X E #
# # # # # # # # # #
_DONE_








